h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

.todo-container {
  width: 100%;
}

input {
  width: 200px;
}

.items-container{
  margin: 5px;
  text-align: left;
}
.container{
  margin: 5px;
  text-align: left;
}

